body {
  height: 5000px;
  background-color: rgb(232, 209, 167);
}
.main-title-upperdiv {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
}
.main-title {
  font-family: 'Pacifico';
  color:rgb(64, 0, 255);
  font-size: 20px;
}
.rex-main-div {
  display: flex;
  align-items: center;
}
.rex-heading {
  font-size: 25px;
}
.rex-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}
.rex-desc {
  margin-left: 10px;
  width: 1000px;
  color: rgb(112, 97, 97);
  font-size: 20px;
}
.note {
  margin-left: 10px;
  margin-top: 25px;
  color: red;
}
.size-div {
  margin-top: 20px;
}
.size-div,.weight-div,.bite-div {
  margin-left: 380px;
  color:rgb(60, 0, 255);
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.spino-img {
  height: 350px;
  width: 350px;
  object-fit: contain;
}
.spino-img-div {
  margin-left: 20px;
}
.trike-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}
.arg-img {
  height: 350px;
  width: 350px;
  object-fit: contain;
}
.ankylo-img-div {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
